@tailwind base;
@tailwind components;
@tailwind utilities;

#_next {
  min-height: 100vh;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --background: white;
  --foreground: black;
}

[data-theme="dark"] .themed-element {
  --background: black;
  --foreground: white;
  --primary-color: deepskyblue;
  --link-hover-color: lightblue;
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

[data-theme="dark"] .themed-element-hover:hover {
  border-color: rgb(59 130 246);
  outline-color: rgb(59 130 246);
}

[data-theme="light"] .themed-element {
  --background: white;
  --foreground: black;
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity));
}

[data-theme="light"] .themed-element-hover:hover {
  border-color: rgb(249 115 22);
  outline-color: #f97316;
}

[data-theme="dark"] .nav-bg-theme {
  --tw-bg-opacity: 1;
  background-color: rgb(10, 0, 48);
}

[data-theme="light"] .nav-bg-theme {
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

[data-theme="dark"] .form-field-theme:focus {
  border-color: rgb(59 130 246);
}

[data-theme="dark"] .form-field-theme:hover {
  border-color: rgb(59 130 246);
}

[data-theme="light"] .form-field-theme:focus {
  border-color: #f97316;
}

[data-theme="light"] .form-field-theme:hover {
  border-color: #f97316;
}

.block__slideshow {
  width: 100%; /* Adjust this to the viewport width you want, like 100vw or 800px */
  position: relative;
  display: flex;
  animation: slide 20s infinite;
}

.block__fadeout {
  animation: fadeOut ease-out 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-300%);
  }
  85% {
    transform: translateX(-300%);
  }
}
